
[mtui]
# datadir contains all testing scripts and
# defaults to the mtui sourcecode directory if not set
datadir=/usr/share/mtui/

# all testreport logs are checked out and stored in the templatedir directory.
# this defaults to the current working dir if not set here or either by
# $TEMPLATEDIR or command line parameter
templatedir=~/qam/templates

# mtui temporary local directory for package source checkouts
tempdir=/tmp/

# username which is shown as session user in i.e. lock files. if not set,
# the variable defaults to the current logged in user
user=myusername

# refhosts.xml location, defaults to "default". currently available values
# due to refhosts.xml are: "default", "beijing" and "emeavirt"
location=default

# path to refhosts.xml. if path is not absolute, refhosts.xml is loaded from
# datadir
refhosts=refhosts.xml

[target]
# mtui remote temporary directory for script and logs
tempdir=/tmp/

# remote path to rep-clean.sh. defaults to ~rd-qa NIS user
repclean=/suse/rd-qa/bin/rep-clean.sh

# path to the SLCS testsuite scripts
testsuitedir=/usr/share/qa/tools/

[connection]
# connection timeout in seconds
timeout=300

[svn]
# svn path for testreport checkouts
path=svn+ssh://svn@qam.suse.de/testreports

[url]
patchinfo=http://hilbert.nue.suse.com/abuildstat/patchinfo
bugzilla=https://bugzilla.novell.com
testreports=http://qam.suse.de/testreports
