---
name: ci
# yamllint disable-line rule:truthy
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    name: MTUI lint + format
    steps:
      - uses: actions/checkout@v5
      - uses:  astral-sh/ruff-action@v3
        with:
          args: "--version"
      - name: Check ruff style 
        run: ruff format --check --diff ./mtui
      - name: Check ruff lint
        run: ruff check --diff ./mtui
  test:
    runs-on: ubuntu-latest
    name: MTUI tests + coverage
    strategy:
      matrix:
        python-version: ['3.11', '3.13']
    steps:
      - uses: actions/checkout@v5
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
           cache: 'pip'
           cache-dependency-path: 'requirements_ci.txt'
      - run: pip3 install -r requirements_ci.txt
      - name: Test run ${{ matrix.python-version }}
        run: python3 -m pytest -v --cov=./mtui --cov-report=xml --cov-report=term
      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@v5
        env: 
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: coverage.xml
        if: ${{ matrix.python-version == '3.13' }} 
